
__pycache__/app.cpython-311.pyc
__pycache__/app.cpython-311.pyc
__pycache__/classes.cpython-311.pyc
__pycache__/rotas.cpython-311.pyc
db.json
tempdb.jason
__pycache__/rotas.cpython-311.pyc
__pycache__/test.cpython-311.pyc
